


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."batch_status_enum" AS ENUM (
    'Generated',
    'Processing',
    'Completed',
    'Failed'
);


ALTER TYPE "public"."batch_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."collection_status_enum" AS ENUM (
    'Collected',
    'Verified',
    'Paid',
    'Cancelled'
);


ALTER TYPE "public"."collection_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."kyc_doc_status_enum" AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE "public"."kyc_doc_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."kyc_status_enum" AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE "public"."kyc_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."payment_status_enum" AS ENUM (
    'processing',
    'completed',
    'failed'
);


ALTER TYPE "public"."payment_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."quality_grade_enum" AS ENUM (
    'A+',
    'A',
    'B',
    'C'
);


ALTER TYPE "public"."quality_grade_enum" OWNER TO "postgres";


CREATE TYPE "public"."user_role_enum" AS ENUM (
    'farmer',
    'staff',
    'admin'
);


ALTER TYPE "public"."user_role_enum" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."approve_kyc"("farmer_id" "uuid", "admin_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE public.farmers SET kyc_status = 'approved', updated_at = now(), updated_by = admin_id WHERE id = farmer_id;
  INSERT INTO public.audit_logs (table_name, record_id, operation, changed_by, new_data) VALUES ('farmers', farmer_id::text, 'approve_kyc', admin_id, to_jsonb((SELECT f FROM public.farmers f WHERE f.id = farmer_id)));
  INSERT INTO public.notifications (user_id, title, message, type, category) SELECT user_id, 'KYC Approved', 'Your KYC application has been approved', 'info', 'kyc' FROM public.farmers WHERE id = farmer_id;
END;
$$;


ALTER FUNCTION "public"."approve_kyc"("farmer_id" "uuid", "admin_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."approve_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_admin_notes" "text" DEFAULT NULL::"text") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_pending_farmer pending_farmers%ROWTYPE;
    v_new_farmer_id UUID;
    v_document_count INTEGER;
    v_email_exists BOOLEAN;
    v_result JSON;
BEGIN
    -- Validation Phase
    -- Verify pending_farmer exists and status is 'submitted' or 'under_review'
    SELECT * INTO v_pending_farmer 
    FROM pending_farmers 
    WHERE id = p_pending_farmer_id 
    AND status IN ('submitted', 'under_review');
    
    IF NOT FOUND THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Pending farmer not found or invalid status'
        );
    END IF;
    
    -- Verify all 3 KYC documents exist (id_front, id_back, selfie)
    SELECT COUNT(*) INTO v_document_count
    FROM kyc_documents 
    WHERE pending_farmer_id = p_pending_farmer_id
    AND document_type IN ('id_front', 'id_back', 'selfie')
    AND status = 'pending';
    
    IF v_document_count < 3 THEN
        RETURN json_build_object(
            'success', false,
            'message', 'All 3 KYC documents (ID front, ID back, selfie) must be uploaded and pending'
        );
    END IF;
    
    -- Verify admin_id has admin privileges
    IF NOT EXISTS (
        SELECT 1 FROM user_roles 
        WHERE user_id = p_admin_id AND role = 'admin' AND active = true
    ) THEN
        RETURN json_build_object(
            'success', false,
            'message', 'User is not authorized to approve farmers'
        );
    END IF;
    
    -- Verify farmer email doesn't already exist in farmers table
    SELECT EXISTS (
        SELECT 1 FROM farmers 
        WHERE email = v_pending_farmer.email
    ) INTO v_email_exists;
    
    IF v_email_exists THEN
        RETURN json_build_object(
            'success', false,
            'message', 'A farmer with this email already exists'
        );
    END IF;
    
    -- Transaction Phase
    -- Insert new record into farmers table with all data from pending_farmers
    INSERT INTO farmers (
        user_id, registration_number, national_id, phone_number, full_name, 
        address, farm_location, kyc_status, registration_completed, email,
        gender, number_of_cows, feeding_type, created_at, updated_at,
        created_by, updated_by
    ) VALUES (
        v_pending_farmer.user_id, v_pending_farmer.registration_number, v_pending_farmer.national_id,
        v_pending_farmer.phone_number, v_pending_farmer.full_name, v_pending_farmer.address,
        v_pending_farmer.farm_location, 'approved', true, v_pending_farmer.email,
        v_pending_farmer.gender, v_pending_farmer.number_of_cows, v_pending_farmer.feeding_type,
        v_pending_farmer.created_at, NOW(),
        p_admin_id, p_admin_id
    ) RETURNING id INTO v_new_farmer_id;
    
    -- Update kyc_documents records: set farmer_id = new farmer id, set pending_farmer_id = NULL
    UPDATE kyc_documents 
    SET farmer_id = v_new_farmer_id,
        pending_farmer_id = NULL,
        status = 'approved',
        updated_at = NOW()
    WHERE pending_farmer_id = p_pending_farmer_id;
    
    -- Update pending_farmers record: set status = 'approved', reviewed_at = now(), reviewed_by = admin_id
    UPDATE pending_farmers
    SET status = 'approved',
        reviewed_at = NOW(),
        reviewed_by = p_admin_id
    WHERE id = p_pending_farmer_id;
    
    -- Insert audit record into farmer_approval_history
    INSERT INTO farmer_approval_history (
        pending_farmer_id, farmer_id, admin_id, action, 
        previous_status, new_status, admin_notes, timestamp
    ) VALUES (
        p_pending_farmer_id, v_new_farmer_id, p_admin_id, 'approved',
        v_pending_farmer.status, 'approved', p_admin_notes, NOW()
    );
    
    -- Queue notification email: 'approved' type
    INSERT INTO farmer_notifications (
        pending_farmer_id, farmer_id, user_email, notification_type,
        subject, body, status, metadata
    ) VALUES (
        p_pending_farmer_id, v_new_farmer_id, v_pending_farmer.email, 'approved',
        '≡ƒÄë Your Farmer Account Has Been Approved!', 
        'Congratulations! Your farmer account has been approved. You can now access your dashboard and start using all features.',
        'pending',
        json_build_object(
            'pending_farmer_id', p_pending_farmer_id,
            'farmer_id', v_new_farmer_id,
            'admin_id', p_admin_id
        )
    );
    
    -- Return success result
    RETURN json_build_object(
        'success', true,
        'farmer_id', v_new_farmer_id,
        'message', 'Farmer approved successfully',
        'email_queued', true
    );
    
EXCEPTION
    WHEN OTHERS THEN
        -- Log error to system log table (if exists)
        -- For now, just return error message
        RETURN json_build_object(
            'success', false,
            'message', 'An error occurred while approving the farmer: ' || SQLERRM
        );
END;
$$;


ALTER FUNCTION "public"."approve_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_admin_notes" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."audit_log_trigger"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF (TG_OP = 'INSERT') THEN
    INSERT INTO public.audit_logs(table_name, record_id, operation, changed_by, changed_at, new_data)
    VALUES (TG_TABLE_NAME, NEW.id::text, 'INSERT', current_setting('jwt.claims.user_id', true)::uuid, now(), to_jsonb(NEW));
    RETURN NEW;
  ELSIF (TG_OP = 'UPDATE') THEN
    INSERT INTO public.audit_logs(table_name, record_id, operation, changed_by, changed_at, old_data, new_data)
    VALUES (TG_TABLE_NAME, COALESCE(NEW.id, OLD.id)::text, 'UPDATE', current_setting('jwt.claims.user_id', true)::uuid, now(), to_jsonb(OLD), to_jsonb(NEW));
    RETURN NEW;
  ELSIF (TG_OP = 'DELETE') THEN
    INSERT INTO public.audit_logs(table_name, record_id, operation, changed_by, changed_at, old_data)
    VALUES (TG_TABLE_NAME, OLD.id::text, 'DELETE', current_setting('jwt.claims.user_id', true)::uuid, now(), to_jsonb(OLD));
    RETURN OLD;
  END IF;
  RETURN NULL;
END;
$$;


ALTER FUNCTION "public"."audit_log_trigger"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."check_account_lockout"("p_email" "text") RETURNS TABLE("is_locked" boolean, "attempts_remaining" integer, "locked_until" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  r RECORD;
BEGIN
  SELECT * INTO r FROM public.account_lockouts WHERE email = p_email;
  IF NOT FOUND THEN
    RETURN QUERY SELECT false::boolean, 5::integer, NULL::timestamptz;
    RETURN;
  END IF;

  IF r.locked_until IS NOT NULL AND r.locked_until > now() THEN
    RETURN QUERY SELECT true::boolean, 0::integer, r.locked_until;
  ELSE
    RETURN QUERY SELECT false::boolean, GREATEST(0, 5 - r.attempts)::integer, NULL::timestamptz;
  END IF;
END;
$$;


ALTER FUNCTION "public"."check_account_lockout"("p_email" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."check_permission"("p_user_id" "uuid", "p_permission" "text") RETURNS boolean
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  r RECORD;
BEGIN
  FOR r IN SELECT role FROM public.user_roles WHERE user_id = p_user_id AND active LOOP
    IF EXISTS (SELECT 1 FROM public.role_permissions rp WHERE rp.role = r.role AND rp.permission = p_permission) THEN
      RETURN true;
    END IF;
  END LOOP;
  RETURN false;
END;
$$;


ALTER FUNCTION "public"."check_permission"("p_user_id" "uuid", "p_permission" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_assigned_farmers"("p_staff_id" "uuid") RETURNS TABLE("farmer_id" "uuid", "full_name" "text", "registration_number" "text", "collection_point_id" "uuid", "phone" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- For now return farmers where staff routes match; placeholder joins ΓÇô adapt to your assignment model
  RETURN QUERY
  SELECT f.id, f.full_name, f.registration_number, NULL::uuid AS collection_point_id, p.phone
  FROM public.farmers f
  JOIN public.profiles p ON p.id = f.user_id
  WHERE f.kyc_status = 'approved'
  ORDER BY f.full_name;
END;
$$;


ALTER FUNCTION "public"."get_assigned_farmers"("p_staff_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_pending_farmers_for_review"("p_admin_id" "uuid", "p_status_filter" "text" DEFAULT 'submitted'::"text", "p_limit" integer DEFAULT 50, "p_offset" integer DEFAULT 0) RETURNS TABLE("id" "uuid", "user_id" "uuid", "full_name" "text", "email" "text", "phone_number" "text", "gender" "text", "national_id" "text", "address" "text", "farm_location" "text", "number_of_cows" integer, "feeding_type" "text", "status" "text", "email_verified" boolean, "registration_number" "text", "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "submitted_at" timestamp with time zone, "reviewed_at" timestamp with time zone, "reviewed_by" "uuid", "rejection_reason" "text", "rejection_count" integer, "kyc_complete" boolean, "id_front_url" "text", "id_back_url" "text", "selfie_url" "text", "submission_date" timestamp with time zone, "days_pending" integer, "rejection_history_count" bigint, "last_rejection_reason" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    -- Verify admin_id has admin privileges
    IF NOT EXISTS (
        SELECT 1 FROM user_roles 
        WHERE user_id = p_admin_id AND role = 'admin' AND active = true
    ) THEN
        -- Return empty result set if not admin
        RETURN QUERY SELECT 
            NULL::UUID, NULL::UUID, NULL::TEXT, NULL::TEXT, NULL::TEXT, NULL::TEXT, 
            NULL::TEXT, NULL::TEXT, NULL::TEXT, NULL::INTEGER, NULL::TEXT, NULL::TEXT, 
            NULL::BOOLEAN, NULL::TEXT, NULL::TIMESTAMPTZ, NULL::TIMESTAMPTZ, NULL::TIMESTAMPTZ, 
            NULL::TIMESTAMPTZ, NULL::UUID, NULL::TEXT, NULL::INTEGER, NULL::BOOLEAN, 
            NULL::TEXT, NULL::TEXT, NULL::TEXT, NULL::TIMESTAMPTZ, NULL::INTEGER, 
            NULL::BIGINT, NULL::TEXT
        WHERE false;
        RETURN;
    END IF;
    
    RETURN QUERY
    SELECT 
        pf.id,
        pf.user_id,
        pf.full_name,
        pf.email,
        pf.phone_number,
        pf.gender,
        pf.national_id,
        pf.address,
        pf.farm_location,
        pf.number_of_cows,
        pf.feeding_type,
        pf.status,
        pf.email_verified,
        pf.registration_number,
        pf.created_at,
        pf.updated_at,
        pf.submitted_at,
        pf.reviewed_at,
        pf.reviewed_by,
        pf.rejection_reason,
        pf.rejection_count,
        pf.kyc_complete,
        -- Document URLs (simplified - actual implementation would generate signed URLs)
        (SELECT file_path FROM kyc_documents WHERE pending_farmer_id = pf.id AND document_type = 'id_front' LIMIT 1) as id_front_url,
        (SELECT file_path FROM kyc_documents WHERE pending_farmer_id = pf.id AND document_type = 'id_back' LIMIT 1) as id_back_url,
        (SELECT file_path FROM kyc_documents WHERE pending_farmer_id = pf.id AND document_type = 'selfie' LIMIT 1) as selfie_url,
        pf.submitted_at as submission_date,
        -- Days pending calculation
        CASE 
            WHEN pf.submitted_at IS NOT NULL THEN 
                EXTRACT(DAY FROM (NOW() - pf.submitted_at))::INTEGER
            ELSE 0
        END as days_pending,
        -- Rejection history count
        (SELECT COUNT(*) FROM farmer_approval_history WHERE pending_farmer_id = pf.id AND action = 'rejected') as rejection_history_count,
        -- Last rejection reason
        (SELECT rejection_reason FROM farmer_approval_history 
         WHERE pending_farmer_id = pf.id AND action = 'rejected' 
         ORDER BY timestamp DESC LIMIT 1) as last_rejection_reason
    FROM pending_farmers pf
    WHERE pf.status = COALESCE(p_status_filter, 'submitted')
    ORDER BY 
        -- Priority: First-time submissions before resubmissions
        pf.rejection_count ASC,
        -- Then by submission date (oldest first)
        pf.submitted_at ASC NULLS LAST
    LIMIT p_limit
    OFFSET p_offset;
END;
$$;


ALTER FUNCTION "public"."get_pending_farmers_for_review"("p_admin_id" "uuid", "p_status_filter" "text", "p_limit" integer, "p_offset" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."log_auth_event"("p_user_id" "uuid", "p_event_type" "text", "p_metadata" "jsonb" DEFAULT '{}'::"jsonb") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  INSERT INTO public.auth_events (user_id, event_type, metadata)
  VALUES (p_user_id, p_event_type, p_metadata);
END;
$$;


ALTER FUNCTION "public"."log_auth_event"("p_user_id" "uuid", "p_event_type" "text", "p_metadata" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."notify_admin_new_registration"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  admin_user public.user_roles%ROWTYPE;
BEGIN
  -- Insert notification for all admins
  INSERT INTO public.notifications (user_id, title, message, type, category)
  SELECT ur.user_id, 'New Farmer Registration', 'A new farmer has registered and requires KYC review', 'info', 'kyc'
  FROM public.user_roles ur WHERE ur.role = 'admin' AND ur.active;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."notify_admin_new_registration"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."record_milk_collection"("farmer_id" "uuid", "staff_id" "uuid", "collection_point_id" "uuid", "quantity" numeric, "quality_grade" "text", "temperature" numeric DEFAULT NULL::numeric, "latitude" numeric DEFAULT NULL::numeric, "longitude" numeric DEFAULT NULL::numeric, "photo_url" "text" DEFAULT NULL::"text", "local_id" "text" DEFAULT NULL::"text", "device_timestamp" timestamp with time zone DEFAULT "now"()) RETURNS TABLE("id" "uuid", "validation_code" "text")
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_id uuid;
  v_validation text := substring(md5(now()::text || random()::text), 1, 10);
  farmer_rec public.farmers%ROWTYPE;
BEGIN
  IF NOT EXISTS (SELECT 1 FROM public.farmers WHERE id = farmer_id) THEN
    RAISE EXCEPTION 'Farmer % not found', farmer_id;
  END IF;

  INSERT INTO public.collections (collection_id, farmer_id, staff_id, liters, quality_grade, rate_per_liter, total_amount, gps_latitude, gps_longitude, validation_code, collection_date, status)
  VALUES (
    concat('C-', generate_series(1,1)::text, '-', (floor(EXTRACT(EPOCH FROM now()))::text)),
    farmer_id, staff_id, quantity, quality_grade::quality_grade_enum, NULL, quantity * COALESCE((SELECT rate_per_liter FROM public.milk_rates WHERE is_active = true LIMIT 1), 0), latitude, longitude, v_validation, now(), 'Collected'
  ) RETURNING id INTO v_id;

  -- Optional: store photo_url in file_uploads or collection metadata
  IF photo_url IS NOT NULL THEN
    INSERT INTO public.file_uploads (bucket, path, url, uploaded_by) VALUES ('collections', v_validation || '.jpg', photo_url, staff_id);
  END IF;

  -- Update farmer analytics (simple upsert)
  INSERT INTO public.farmer_analytics (farmer_id, total_collections, total_liters, current_month_liters, current_month_earnings, avg_quality_score, updated_at)
  VALUES (farmer_id, 1, quantity, quantity, 0, 0, now())
  ON CONFLICT (farmer_id) DO UPDATE
  SET total_collections = public.farmer_analytics.total_collections + 1,
      total_liters = public.farmer_analytics.total_liters + EXCLUDED.total_liters,
      current_month_liters = public.farmer_analytics.current_month_liters + EXCLUDED.current_month_liters,
      updated_at = now();

  RETURN QUERY SELECT v_id, v_validation;
END;
$$;


ALTER FUNCTION "public"."record_milk_collection"("farmer_id" "uuid", "staff_id" "uuid", "collection_point_id" "uuid", "quantity" numeric, "quality_grade" "text", "temperature" numeric, "latitude" numeric, "longitude" numeric, "photo_url" "text", "local_id" "text", "device_timestamp" timestamp with time zone) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reject_kyc"("farmer_id" "uuid", "reason" "text", "admin_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE public.farmers SET kyc_status = 'rejected', kyc_rejection_reason = reason, updated_at = now(), updated_by = admin_id WHERE id = farmer_id;
  INSERT INTO public.audit_logs (table_name, record_id, operation, changed_by, new_data) VALUES ('farmers', farmer_id::text, 'reject_kyc', admin_id, jsonb_build_object('reason', reason));
  INSERT INTO public.notifications (user_id, title, message, type, category) SELECT user_id, 'KYC Rejected', reason, 'warning', 'kyc' FROM public.farmers WHERE id = farmer_id;
END;
$$;


ALTER FUNCTION "public"."reject_kyc"("farmer_id" "uuid", "reason" "text", "admin_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reject_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_rejection_reason" "text", "p_admin_notes" "text" DEFAULT NULL::"text") RETURNS json
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_pending_farmer pending_farmers%ROWTYPE;
    v_new_rejection_count INTEGER;
    v_can_resubmit BOOLEAN;
    v_result JSON;
BEGIN
    -- Validation Phase
    -- Verify pending_farmer exists
    SELECT * INTO v_pending_farmer 
    FROM pending_farmers 
    WHERE id = p_pending_farmer_id;
    
    IF NOT FOUND THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Pending farmer not found'
        );
    END IF;
    
    -- Verify rejection_reason is not empty (required field)
    IF p_rejection_reason IS NULL OR TRIM(p_rejection_reason) = '' THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Rejection reason is required'
        );
    END IF;
    
    -- Verify admin_id has admin privileges
    IF NOT EXISTS (
        SELECT 1 FROM user_roles 
        WHERE user_id = p_admin_id AND role = 'admin' AND active = true
    ) THEN
        RETURN json_build_object(
            'success', false,
            'message', 'User is not authorized to reject farmers'
        );
    END IF;
    
    -- Check if farmer has been rejected too many times (max 3 rejections)
    v_new_rejection_count := v_pending_farmer.rejection_count + 1;
    
    IF v_new_rejection_count >= 3 THEN
        v_can_resubmit := false;
    ELSE
        v_can_resubmit := true;
    END IF;
    
    -- Transaction Phase
    -- Update pending_farmers
    UPDATE pending_farmers
    SET status = 'rejected',
        rejection_reason = p_rejection_reason,
        reviewed_at = NOW(),
        reviewed_by = p_admin_id,
        rejection_count = v_new_rejection_count
    WHERE id = p_pending_farmer_id;
    
    -- DO NOT delete KYC documents (allow resubmission)
    
    -- Insert audit record into farmer_approval_history
    INSERT INTO farmer_approval_history (
        pending_farmer_id, admin_id, action, 
        previous_status, new_status, rejection_reason, admin_notes, timestamp
    ) VALUES (
        p_pending_farmer_id, p_admin_id, 'rejected',
        v_pending_farmer.status, 'rejected', p_rejection_reason, p_admin_notes, NOW()
    );
    
    -- Queue notification email: 'rejected' type with specific reason
    INSERT INTO farmer_notifications (
        pending_farmer_id, user_email, notification_type,
        subject, body, status, metadata
    ) VALUES (
        p_pending_farmer_id, v_pending_farmer.email, 'rejected',
        'Action Required: Update Your KYC Documents',
        'Your farmer registration has been rejected. Reason: ' || p_rejection_reason || 
        '. Please review the requirements and resubmit your documents.',
        'pending',
        json_build_object(
            'pending_farmer_id', p_pending_farmer_id,
            'admin_id', p_admin_id,
            'rejection_reason', p_rejection_reason,
            'rejection_count', v_new_rejection_count,
            'can_resubmit', v_can_resubmit
        )
    );
    
    -- If rejection_count >= 3, flag for manual review (handled by application logic)
    
    -- Return success result
    RETURN json_build_object(
        'success', true,
        'message', 'Farmer application rejected',
        'rejection_count', v_new_rejection_count,
        'can_resubmit', v_can_resubmit,
        'email_queued', true
    );
    
EXCEPTION
    WHEN OTHERS THEN
        -- Log error to system log table (if exists)
        -- For now, just return error message
        RETURN json_build_object(
            'success', false,
            'message', 'An error occurred while rejecting the farmer: ' || SQLERRM
        );
END;
$$;


ALTER FUNCTION "public"."reject_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_rejection_reason" "text", "p_admin_notes" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reset_account_lockout"("p_email" "text") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  INSERT INTO public.account_lockouts (email, attempts, locked_until)
  VALUES (p_email, 0, NULL)
  ON CONFLICT (email) DO UPDATE SET attempts = 0, locked_until = NULL;
END;
$$;


ALTER FUNCTION "public"."reset_account_lockout"("p_email" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."resubmit_kyc_documents"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") RETURNS json
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_pending_farmer pending_farmers%ROWTYPE;
    v_attempts_remaining INTEGER;
    v_result JSON;
BEGIN
    -- Validation
    -- Verify pending_farmer belongs to user_id
    SELECT * INTO v_pending_farmer 
    FROM pending_farmers 
    WHERE id = p_pending_farmer_id AND user_id = p_user_id;
    
    IF NOT FOUND THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Pending farmer not found or does not belong to user'
        );
    END IF;
    
    -- Verify current status is 'rejected'
    IF v_pending_farmer.status != 'rejected' THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Can only resubmit documents for rejected applications'
        );
    END IF;
    
    -- Verify rejection_count < 3 (max resubmissions)
    IF v_pending_farmer.rejection_count >= 3 THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Maximum resubmission attempts reached'
        );
    END IF;
    
    -- Verify previous rejection was at least 1 hour ago (prevent spam)
    IF v_pending_farmer.reviewed_at IS NOT NULL AND 
       v_pending_farmer.reviewed_at > NOW() - INTERVAL '1 hour' THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Must wait at least 1 hour after rejection before resubmitting'
        );
    END IF;
    
    -- Transaction
    -- Update pending_farmers: status = 'draft', rejection_reason = NULL
    UPDATE pending_farmers
    SET status = 'draft',
        rejection_reason = NULL
    WHERE id = p_pending_farmer_id;
    
    -- Keep existing KYC documents (will be replaced by new uploads)
    
    -- Insert audit log: action = 'resubmitted'
    INSERT INTO farmer_approval_history (
        pending_farmer_id, action, 
        previous_status, new_status, timestamp
    ) VALUES (
        p_pending_farmer_id, 'resubmitted',
        'rejected', 'draft', NOW()
    );
    
    -- Queue notification to admin team (if needed)
    -- For now, we'll handle this in the application layer
    
    -- Calculate attempts remaining
    v_attempts_remaining := 2 - v_pending_farmer.rejection_count;
    
    -- Return success result
    RETURN json_build_object(
        'success', true,
        'message', 'You can now upload new documents',
        'rejection_reason', v_pending_farmer.rejection_reason,
        'attempts_remaining', v_attempts_remaining
    );
    
EXCEPTION
    WHEN OTHERS THEN
        RETURN json_build_object(
            'success', false,
            'message', 'An error occurred while preparing for resubmission: ' || SQLERRM
        );
END;
$$;


ALTER FUNCTION "public"."resubmit_kyc_documents"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."submit_kyc_for_review"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") RETURNS json
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_pending_farmer pending_farmers%ROWTYPE;
    v_document_count INTEGER;
    v_result JSON;
BEGIN
    -- Pre-Submission Validation
    -- Verify pending_farmer belongs to user_id
    SELECT * INTO v_pending_farmer 
    FROM pending_farmers 
    WHERE id = p_pending_farmer_id AND user_id = p_user_id;
    
    IF NOT FOUND THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Pending farmer not found or does not belong to user'
        );
    END IF;
    
    -- Verify all 3 documents uploaded (check kyc_documents table)
    SELECT COUNT(*) INTO v_document_count
    FROM kyc_documents 
    WHERE pending_farmer_id = p_pending_farmer_id
    AND document_type IN ('id_front', 'id_back', 'selfie');
    
    IF v_document_count < 3 THEN
        RETURN json_build_object(
            'success', false,
            'message', 'All 3 KYC documents (ID front, ID back, selfie) must be uploaded'
        );
    END IF;
    
    -- Verify each document file exists in storage bucket
    -- This would typically be handled at the application level
    
    -- Verify document upload timestamps are recent (within 24 hours)
    -- This would typically be handled at the application level
    
    -- ALLOW submission even if email is not verified
    -- Email verification is no longer a blocker for document submission
    
    -- Verify no pending submission already exists
    IF v_pending_farmer.status = 'submitted' THEN
        RETURN json_build_object(
            'success', false,
            'message', 'Documents already submitted for review'
        );
    END IF;
    
    -- Document Quality Checks (basic)
    -- Verify each file size > 50KB (not empty)
    -- Verify file MIME types are valid (image/jpeg, image/png, application/pdf)
    -- These would typically be handled at the application level
    
    -- Transaction
    -- Update pending_farmers: status = 'submitted', submitted_at = now(), kyc_complete = true
    UPDATE pending_farmers
    SET status = 'submitted',
        submitted_at = NOW(),
        kyc_complete = true,
        updated_at = NOW()
    WHERE id = p_pending_farmer_id;
    
    -- Insert audit log: action = 'submitted'
    INSERT INTO farmer_approval_history (
        pending_farmer_id, action, 
        previous_status, new_status, timestamp
    ) VALUES (
        p_pending_farmer_id, 'submitted',
        v_pending_farmer.status, 'submitted', NOW()
    );
    
    -- Queue notification: 'kyc_submitted' to farmer
    INSERT INTO farmer_notifications (
        pending_farmer_id, user_email, notification_type,
        subject, body, status, metadata
    ) VALUES (
        p_pending_farmer_id, v_pending_farmer.email, 'kyc_submitted',
        'KYC Documents Received - Under Review',
        'Your KYC documents have been received and are under review. This typically takes 2-3 business days.',
        'pending',
        json_build_object(
            'pending_farmer_id', p_pending_farmer_id,
            'submission_id', p_pending_farmer_id
        )
    );
    
    -- Queue notification: new submission alert to admin team
    -- This would typically be handled by a trigger or separate process
    
    -- Return success result
    RETURN json_build_object(
        'success', true,
        'message', 'KYC submitted for review',
        'submission_id', p_pending_farmer_id,
        'email_verified', v_pending_farmer.email_verified,
        'estimated_review_time', '2-3 business days'
    );
    
EXCEPTION
    WHEN OTHERS THEN
        RETURN json_build_object(
            'success', false,
            'message', 'An error occurred while submitting KYC for review: ' || SQLERRM
        );
END;
$$;


ALTER FUNCTION "public"."submit_kyc_for_review"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."account_lockouts" (
    "email" "text" NOT NULL,
    "attempts" integer DEFAULT 0,
    "locked_until" timestamp with time zone
);


ALTER TABLE "public"."account_lockouts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" bigint NOT NULL,
    "table_name" "text",
    "record_id" "text",
    "operation" "text",
    "changed_by" "uuid",
    "changed_at" timestamp with time zone DEFAULT "now"(),
    "old_data" "jsonb",
    "new_data" "jsonb"
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."audit_logs_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."audit_logs_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."audit_logs_id_seq" OWNED BY "public"."audit_logs"."id";



CREATE TABLE IF NOT EXISTS "public"."auth_events" (
    "id" bigint NOT NULL,
    "user_id" "uuid",
    "event_type" "text",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."auth_events" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."auth_events_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."auth_events_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."auth_events_id_seq" OWNED BY "public"."auth_events"."id";



CREATE TABLE IF NOT EXISTS "public"."collection_payments" (
    "id" bigint NOT NULL,
    "collection_id" "uuid",
    "payment_id" "uuid",
    "batch_id" "text",
    "amount" numeric,
    "rate_applied" numeric,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."collection_payments" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."collection_payments_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."collection_payments_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."collection_payments_id_seq" OWNED BY "public"."collection_payments"."id";



CREATE TABLE IF NOT EXISTS "public"."collections" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "collection_id" "text",
    "farmer_id" "uuid" NOT NULL,
    "staff_id" "uuid",
    "liters" numeric DEFAULT 0,
    "quality_grade" "public"."quality_grade_enum",
    "rate_per_liter" numeric,
    "total_amount" numeric,
    "gps_latitude" numeric,
    "gps_longitude" numeric,
    "validation_code" "text",
    "verification_code" "text",
    "collection_date" timestamp with time zone DEFAULT "now"(),
    "status" "public"."collection_status_enum" DEFAULT 'Collected'::"public"."collection_status_enum",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."collections" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."farmer_analytics" (
    "id" bigint NOT NULL,
    "farmer_id" "uuid",
    "total_collections" integer DEFAULT 0,
    "total_liters" numeric DEFAULT 0,
    "current_month_liters" numeric DEFAULT 0,
    "current_month_earnings" numeric DEFAULT 0,
    "avg_quality_score" numeric DEFAULT 0,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."farmer_analytics" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."farmer_analytics_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."farmer_analytics_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."farmer_analytics_id_seq" OWNED BY "public"."farmer_analytics"."id";



CREATE TABLE IF NOT EXISTS "public"."farmer_approval_history" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "pending_farmer_id" "uuid",
    "farmer_id" "uuid",
    "admin_id" "uuid",
    "action" "text",
    "previous_status" "text",
    "new_status" "text",
    "rejection_reason" "text",
    "admin_notes" "text",
    "timestamp" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "farmer_approval_history_action_check" CHECK (("action" = ANY (ARRAY['submitted'::"text", 'approved'::"text", 'rejected'::"text", 'resubmitted'::"text"])))
);


ALTER TABLE "public"."farmer_approval_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."farmer_notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "pending_farmer_id" "uuid",
    "farmer_id" "uuid",
    "user_email" "text",
    "notification_type" "text",
    "subject" "text",
    "body" "text",
    "status" "text" DEFAULT 'pending'::"text",
    "metadata" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "sent_at" timestamp with time zone,
    "failed_at" timestamp with time zone,
    CONSTRAINT "farmer_notifications_notification_type_check" CHECK (("notification_type" = ANY (ARRAY['kyc_submitted'::"text", 'approved'::"text", 'rejected'::"text", 'reminder'::"text"]))),
    CONSTRAINT "farmer_notifications_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'sent'::"text", 'failed'::"text"])))
);


ALTER TABLE "public"."farmer_notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."farmers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "registration_number" "text",
    "national_id" "text",
    "phone_number" "text",
    "full_name" "text",
    "address" "text",
    "farm_location" "text",
    "kyc_status" "public"."kyc_status_enum" DEFAULT 'pending'::"public"."kyc_status_enum",
    "registration_completed" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "created_by" "uuid",
    "updated_by" "uuid",
    "physical_address" "text",
    "gps_latitude" numeric,
    "gps_longitude" numeric,
    "bank_account_name" "text",
    "bank_account_number" "text",
    "bank_name" "text",
    "bank_branch" "text"
);


ALTER TABLE "public"."farmers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."file_uploads" (
    "id" bigint NOT NULL,
    "bucket" "text",
    "path" "text",
    "url" "text",
    "uploaded_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."file_uploads" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."file_uploads_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."file_uploads_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."file_uploads_id_seq" OWNED BY "public"."file_uploads"."id";



CREATE TABLE IF NOT EXISTS "public"."kyc_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "farmer_id" "uuid",
    "document_type" "text",
    "file_name" "text",
    "file_path" "text",
    "file_size" bigint,
    "mime_type" "text",
    "status" "public"."kyc_doc_status_enum" DEFAULT 'pending'::"public"."kyc_doc_status_enum",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "pending_farmer_id" "uuid",
    "rejection_reason" "text",
    "verified_at" timestamp with time zone
);


ALTER TABLE "public"."kyc_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."milk_quality_parameters" (
    "id" bigint NOT NULL,
    "collection_id" "uuid" NOT NULL,
    "fat_content" numeric,
    "protein_content" numeric,
    "snf_content" numeric,
    "acidity_level" numeric,
    "temperature" numeric,
    "bacterial_count" integer,
    "measured_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."milk_quality_parameters" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."milk_quality_parameters_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."milk_quality_parameters_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."milk_quality_parameters_id_seq" OWNED BY "public"."milk_quality_parameters"."id";



CREATE TABLE IF NOT EXISTS "public"."milk_rates" (
    "id" bigint NOT NULL,
    "rate_per_liter" numeric NOT NULL,
    "is_active" boolean DEFAULT false,
    "effective_from" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."milk_rates" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."milk_rates_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."milk_rates_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."milk_rates_id_seq" OWNED BY "public"."milk_rates"."id";



CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "title" "text",
    "message" "text",
    "type" "text",
    "category" "text",
    "read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payment_batches" (
    "batch_id" "text" NOT NULL,
    "batch_name" "text",
    "period_start" "date",
    "period_end" "date",
    "total_farmers" integer DEFAULT 0,
    "total_collections" integer DEFAULT 0,
    "total_amount" numeric DEFAULT 0,
    "status" "public"."batch_status_enum" DEFAULT 'Generated'::"public"."batch_status_enum",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "processed_at" timestamp with time zone,
    "completed_at" timestamp with time zone
);


ALTER TABLE "public"."payment_batches" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "payment_id" "text",
    "farmer_id" "uuid",
    "amount" numeric,
    "status" "public"."payment_status_enum" DEFAULT 'processing'::"public"."payment_status_enum",
    "payment_method" "text",
    "transaction_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "processed_at" timestamp with time zone,
    "paid_at" timestamp with time zone
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pending_farmers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "registration_number" "text",
    "national_id" "text",
    "phone_number" "text",
    "full_name" "text",
    "email" "text",
    "address" "text",
    "farm_location" "text",
    "gender" "text",
    "number_of_cows" integer,
    "feeding_type" "text",
    "kyc_complete" boolean DEFAULT false,
    "email_verified" boolean DEFAULT false,
    "status" "text" DEFAULT 'draft'::"text",
    "rejection_reason" "text",
    "rejection_count" integer DEFAULT 0,
    "submitted_at" timestamp with time zone,
    "reviewed_at" timestamp with time zone,
    "reviewed_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "age" integer,
    "id_number" "text",
    "breeding_method" "text",
    "cow_breeds" "jsonb",
    CONSTRAINT "pending_farmers_gender_check" CHECK (("gender" = ANY (ARRAY['male'::"text", 'female'::"text", 'other'::"text"]))),
    CONSTRAINT "pending_farmers_status_check" CHECK (("status" = ANY (ARRAY['draft'::"text", 'submitted'::"text", 'under_review'::"text", 'approved'::"text", 'rejected'::"text"])))
);


ALTER TABLE "public"."pending_farmers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "email" "text",
    "phone" "text",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "created_by" "uuid",
    "updated_by" "uuid"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."role_permissions" (
    "id" bigint NOT NULL,
    "role" "public"."user_role_enum" NOT NULL,
    "permission" "text" NOT NULL
);


ALTER TABLE "public"."role_permissions" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."role_permissions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."role_permissions_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."role_permissions_id_seq" OWNED BY "public"."role_permissions"."id";



CREATE TABLE IF NOT EXISTS "public"."staff" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "employee_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."staff" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."staff_routes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "staff_id" "uuid",
    "route_name" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."staff_routes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."system_settings" (
    "key" "text" NOT NULL,
    "value" "jsonb",
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."system_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_roles" (
    "id" bigint NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "public"."user_role_enum" NOT NULL,
    "active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_roles" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."user_roles_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."user_roles_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."user_roles_id_seq" OWNED BY "public"."user_roles"."id";



CREATE TABLE IF NOT EXISTS "public"."user_sessions" (
    "id" bigint NOT NULL,
    "user_id" "uuid",
    "session_token" "text",
    "is_valid" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "last_active" timestamp with time zone
);


ALTER TABLE "public"."user_sessions" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."user_sessions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."user_sessions_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."user_sessions_id_seq" OWNED BY "public"."user_sessions"."id";



CREATE TABLE IF NOT EXISTS "public"."warehouse_collections" (
    "id" bigint NOT NULL,
    "warehouse_id" "uuid",
    "collection_id" "uuid",
    "added_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."warehouse_collections" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."warehouse_collections_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."warehouse_collections_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."warehouse_collections_id_seq" OWNED BY "public"."warehouse_collections"."id";



CREATE TABLE IF NOT EXISTS "public"."warehouses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text",
    "address" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."warehouses" OWNER TO "postgres";


ALTER TABLE ONLY "public"."audit_logs" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."audit_logs_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."auth_events" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."auth_events_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."collection_payments" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."collection_payments_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."farmer_analytics" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."farmer_analytics_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."file_uploads" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."file_uploads_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."milk_quality_parameters" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."milk_quality_parameters_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."milk_rates" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."milk_rates_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."role_permissions" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."role_permissions_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."user_roles" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."user_roles_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."user_sessions" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."user_sessions_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."warehouse_collections" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."warehouse_collections_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."account_lockouts"
    ADD CONSTRAINT "account_lockouts_pkey" PRIMARY KEY ("email");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."auth_events"
    ADD CONSTRAINT "auth_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."collection_payments"
    ADD CONSTRAINT "collection_payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_collection_id_key" UNIQUE ("collection_id");



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."farmer_analytics"
    ADD CONSTRAINT "farmer_analytics_farmer_id_key" UNIQUE ("farmer_id");



ALTER TABLE ONLY "public"."farmer_analytics"
    ADD CONSTRAINT "farmer_analytics_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."farmer_approval_history"
    ADD CONSTRAINT "farmer_approval_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."farmer_notifications"
    ADD CONSTRAINT "farmer_notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."farmers"
    ADD CONSTRAINT "farmers_national_id_key" UNIQUE ("national_id");



ALTER TABLE ONLY "public"."farmers"
    ADD CONSTRAINT "farmers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."farmers"
    ADD CONSTRAINT "farmers_registration_number_key" UNIQUE ("registration_number");



ALTER TABLE ONLY "public"."farmers"
    ADD CONSTRAINT "farmers_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."file_uploads"
    ADD CONSTRAINT "file_uploads_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."kyc_documents"
    ADD CONSTRAINT "kyc_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."milk_quality_parameters"
    ADD CONSTRAINT "milk_quality_parameters_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."milk_rates"
    ADD CONSTRAINT "milk_rates_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payment_batches"
    ADD CONSTRAINT "payment_batches_pkey" PRIMARY KEY ("batch_id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_payment_id_key" UNIQUE ("payment_id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pending_farmers"
    ADD CONSTRAINT "pending_farmers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pending_farmers"
    ADD CONSTRAINT "pending_farmers_registration_number_key" UNIQUE ("registration_number");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_role_permission_key" UNIQUE ("role", "permission");



ALTER TABLE ONLY "public"."staff"
    ADD CONSTRAINT "staff_employee_id_key" UNIQUE ("employee_id");



ALTER TABLE ONLY "public"."staff"
    ADD CONSTRAINT "staff_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staff_routes"
    ADD CONSTRAINT "staff_routes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staff"
    ADD CONSTRAINT "staff_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."system_settings"
    ADD CONSTRAINT "system_settings_pkey" PRIMARY KEY ("key");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_sessions"
    ADD CONSTRAINT "user_sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."warehouse_collections"
    ADD CONSTRAINT "warehouse_collections_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."warehouses"
    ADD CONSTRAINT "warehouses_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_collections_farmer_date" ON "public"."collections" USING "btree" ("farmer_id", "collection_date" DESC);



CREATE INDEX "idx_collections_staff_date" ON "public"."collections" USING "btree" ("staff_id", "collection_date" DESC);



CREATE INDEX "idx_farmer_approval_history_action" ON "public"."farmer_approval_history" USING "btree" ("action");



CREATE INDEX "idx_farmer_approval_history_admin_id" ON "public"."farmer_approval_history" USING "btree" ("admin_id");



CREATE INDEX "idx_farmer_approval_history_farmer_id" ON "public"."farmer_approval_history" USING "btree" ("farmer_id");



CREATE INDEX "idx_farmer_approval_history_pending_farmer_id" ON "public"."farmer_approval_history" USING "btree" ("pending_farmer_id");



CREATE INDEX "idx_farmer_approval_history_timestamp" ON "public"."farmer_approval_history" USING "btree" ("timestamp");



CREATE INDEX "idx_farmer_notifications_created_at" ON "public"."farmer_notifications" USING "btree" ("created_at");



CREATE INDEX "idx_farmer_notifications_farmer_id" ON "public"."farmer_notifications" USING "btree" ("farmer_id");



CREATE INDEX "idx_farmer_notifications_notification_type" ON "public"."farmer_notifications" USING "btree" ("notification_type");



CREATE INDEX "idx_farmer_notifications_pending_farmer_id" ON "public"."farmer_notifications" USING "btree" ("pending_farmer_id");



CREATE INDEX "idx_farmer_notifications_status" ON "public"."farmer_notifications" USING "btree" ("status");



CREATE INDEX "idx_farmer_notifications_user_email" ON "public"."farmer_notifications" USING "btree" ("user_email");



CREATE INDEX "idx_farmers_national_id" ON "public"."farmers" USING "btree" ("national_id");



CREATE INDEX "idx_kyc_documents_document_type" ON "public"."kyc_documents" USING "btree" ("document_type");



CREATE INDEX "idx_kyc_documents_farmer_id" ON "public"."kyc_documents" USING "btree" ("farmer_id");



CREATE INDEX "idx_kyc_documents_pending_farmer_id" ON "public"."kyc_documents" USING "btree" ("pending_farmer_id");



CREATE INDEX "idx_kyc_documents_status" ON "public"."kyc_documents" USING "btree" ("status");



CREATE INDEX "idx_kyc_status" ON "public"."farmers" USING "btree" ("kyc_status");



CREATE INDEX "idx_notifications_user" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_payments_status" ON "public"."payments" USING "btree" ("status");



CREATE INDEX "idx_pending_farmers_created_at" ON "public"."pending_farmers" USING "btree" ("created_at");



CREATE INDEX "idx_pending_farmers_email" ON "public"."pending_farmers" USING "btree" ("email");



CREATE INDEX "idx_pending_farmers_email_verified" ON "public"."pending_farmers" USING "btree" ("email_verified");



CREATE INDEX "idx_pending_farmers_status" ON "public"."pending_farmers" USING "btree" ("status");



CREATE INDEX "idx_pending_farmers_user_id" ON "public"."pending_farmers" USING "btree" ("user_id");



CREATE INDEX "idx_profiles_email" ON "public"."profiles" USING "btree" ("email");



CREATE OR REPLACE TRIGGER "audit_on_collections" AFTER INSERT OR DELETE OR UPDATE ON "public"."collections" FOR EACH ROW EXECUTE FUNCTION "public"."audit_log_trigger"();



CREATE OR REPLACE TRIGGER "audit_on_farmers" AFTER INSERT OR DELETE OR UPDATE ON "public"."farmers" FOR EACH ROW EXECUTE FUNCTION "public"."audit_log_trigger"();



CREATE OR REPLACE TRIGGER "notify_admin_on_farmer_insert" AFTER INSERT ON "public"."farmers" FOR EACH ROW WHEN (("new"."kyc_status" = 'pending'::"public"."kyc_status_enum")) EXECUTE FUNCTION "public"."notify_admin_new_registration"();



CREATE OR REPLACE TRIGGER "set_updated_at_collections" BEFORE UPDATE ON "public"."collections" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_farmers" BEFORE UPDATE ON "public"."farmers" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "set_updated_at_profiles" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."auth_events"
    ADD CONSTRAINT "auth_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."collection_payments"
    ADD CONSTRAINT "collection_payments_batch_id_fkey" FOREIGN KEY ("batch_id") REFERENCES "public"."payment_batches"("batch_id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."collection_payments"
    ADD CONSTRAINT "collection_payments_collection_id_fkey" FOREIGN KEY ("collection_id") REFERENCES "public"."collections"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."collection_payments"
    ADD CONSTRAINT "collection_payments_payment_id_fkey" FOREIGN KEY ("payment_id") REFERENCES "public"."payments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."staff"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."farmer_analytics"
    ADD CONSTRAINT "farmer_analytics_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."farmer_approval_history"
    ADD CONSTRAINT "farmer_approval_history_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."farmer_approval_history"
    ADD CONSTRAINT "farmer_approval_history_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."farmer_approval_history"
    ADD CONSTRAINT "farmer_approval_history_pending_farmer_id_fkey" FOREIGN KEY ("pending_farmer_id") REFERENCES "public"."pending_farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."farmer_notifications"
    ADD CONSTRAINT "farmer_notifications_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."farmer_notifications"
    ADD CONSTRAINT "farmer_notifications_pending_farmer_id_fkey" FOREIGN KEY ("pending_farmer_id") REFERENCES "public"."pending_farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."farmers"
    ADD CONSTRAINT "farmers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."file_uploads"
    ADD CONSTRAINT "file_uploads_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."kyc_documents"
    ADD CONSTRAINT "kyc_documents_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."kyc_documents"
    ADD CONSTRAINT "kyc_documents_pending_farmer_id_fkey" FOREIGN KEY ("pending_farmer_id") REFERENCES "public"."pending_farmers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."milk_quality_parameters"
    ADD CONSTRAINT "milk_quality_parameters_collection_id_fkey" FOREIGN KEY ("collection_id") REFERENCES "public"."collections"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_farmer_id_fkey" FOREIGN KEY ("farmer_id") REFERENCES "public"."farmers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."pending_farmers"
    ADD CONSTRAINT "pending_farmers_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."pending_farmers"
    ADD CONSTRAINT "pending_farmers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staff_routes"
    ADD CONSTRAINT "staff_routes_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."staff"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staff"
    ADD CONSTRAINT "staff_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_sessions"
    ADD CONSTRAINT "user_sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."warehouse_collections"
    ADD CONSTRAINT "warehouse_collections_collection_id_fkey" FOREIGN KEY ("collection_id") REFERENCES "public"."collections"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."warehouse_collections"
    ADD CONSTRAINT "warehouse_collections_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE CASCADE;



ALTER TABLE "public"."collections" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."farmers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profiles_insert_own" ON "public"."profiles" FOR INSERT WITH CHECK (("id" = "auth"."uid"()));



CREATE POLICY "profiles_select_own_or_admin" ON "public"."profiles" FOR SELECT USING ((("id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = 'admin'::"public"."user_role_enum"))))));



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."approve_kyc"("farmer_id" "uuid", "admin_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."approve_kyc"("farmer_id" "uuid", "admin_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."approve_kyc"("farmer_id" "uuid", "admin_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."approve_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_admin_notes" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."approve_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_admin_notes" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."approve_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_admin_notes" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."audit_log_trigger"() TO "anon";
GRANT ALL ON FUNCTION "public"."audit_log_trigger"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."audit_log_trigger"() TO "service_role";



GRANT ALL ON FUNCTION "public"."check_account_lockout"("p_email" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."check_account_lockout"("p_email" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_account_lockout"("p_email" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."check_permission"("p_user_id" "uuid", "p_permission" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."check_permission"("p_user_id" "uuid", "p_permission" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_permission"("p_user_id" "uuid", "p_permission" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_assigned_farmers"("p_staff_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_assigned_farmers"("p_staff_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_assigned_farmers"("p_staff_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_pending_farmers_for_review"("p_admin_id" "uuid", "p_status_filter" "text", "p_limit" integer, "p_offset" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_pending_farmers_for_review"("p_admin_id" "uuid", "p_status_filter" "text", "p_limit" integer, "p_offset" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_pending_farmers_for_review"("p_admin_id" "uuid", "p_status_filter" "text", "p_limit" integer, "p_offset" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."log_auth_event"("p_user_id" "uuid", "p_event_type" "text", "p_metadata" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."log_auth_event"("p_user_id" "uuid", "p_event_type" "text", "p_metadata" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."log_auth_event"("p_user_id" "uuid", "p_event_type" "text", "p_metadata" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."notify_admin_new_registration"() TO "anon";
GRANT ALL ON FUNCTION "public"."notify_admin_new_registration"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."notify_admin_new_registration"() TO "service_role";



GRANT ALL ON FUNCTION "public"."record_milk_collection"("farmer_id" "uuid", "staff_id" "uuid", "collection_point_id" "uuid", "quantity" numeric, "quality_grade" "text", "temperature" numeric, "latitude" numeric, "longitude" numeric, "photo_url" "text", "local_id" "text", "device_timestamp" timestamp with time zone) TO "anon";
GRANT ALL ON FUNCTION "public"."record_milk_collection"("farmer_id" "uuid", "staff_id" "uuid", "collection_point_id" "uuid", "quantity" numeric, "quality_grade" "text", "temperature" numeric, "latitude" numeric, "longitude" numeric, "photo_url" "text", "local_id" "text", "device_timestamp" timestamp with time zone) TO "authenticated";
GRANT ALL ON FUNCTION "public"."record_milk_collection"("farmer_id" "uuid", "staff_id" "uuid", "collection_point_id" "uuid", "quantity" numeric, "quality_grade" "text", "temperature" numeric, "latitude" numeric, "longitude" numeric, "photo_url" "text", "local_id" "text", "device_timestamp" timestamp with time zone) TO "service_role";



GRANT ALL ON FUNCTION "public"."reject_kyc"("farmer_id" "uuid", "reason" "text", "admin_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."reject_kyc"("farmer_id" "uuid", "reason" "text", "admin_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reject_kyc"("farmer_id" "uuid", "reason" "text", "admin_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."reject_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_rejection_reason" "text", "p_admin_notes" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."reject_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_rejection_reason" "text", "p_admin_notes" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reject_pending_farmer"("p_pending_farmer_id" "uuid", "p_admin_id" "uuid", "p_rejection_reason" "text", "p_admin_notes" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."reset_account_lockout"("p_email" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."reset_account_lockout"("p_email" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reset_account_lockout"("p_email" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."resubmit_kyc_documents"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."resubmit_kyc_documents"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."resubmit_kyc_documents"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."submit_kyc_for_review"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."submit_kyc_for_review"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."submit_kyc_for_review"("p_pending_farmer_id" "uuid", "p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."account_lockouts" TO "anon";
GRANT ALL ON TABLE "public"."account_lockouts" TO "authenticated";
GRANT ALL ON TABLE "public"."account_lockouts" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."auth_events" TO "anon";
GRANT ALL ON TABLE "public"."auth_events" TO "authenticated";
GRANT ALL ON TABLE "public"."auth_events" TO "service_role";



GRANT ALL ON SEQUENCE "public"."auth_events_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."auth_events_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."auth_events_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."collection_payments" TO "anon";
GRANT ALL ON TABLE "public"."collection_payments" TO "authenticated";
GRANT ALL ON TABLE "public"."collection_payments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."collection_payments_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."collection_payments_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."collection_payments_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."collections" TO "anon";
GRANT ALL ON TABLE "public"."collections" TO "authenticated";
GRANT ALL ON TABLE "public"."collections" TO "service_role";



GRANT ALL ON TABLE "public"."farmer_analytics" TO "anon";
GRANT ALL ON TABLE "public"."farmer_analytics" TO "authenticated";
GRANT ALL ON TABLE "public"."farmer_analytics" TO "service_role";



GRANT ALL ON SEQUENCE "public"."farmer_analytics_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."farmer_analytics_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."farmer_analytics_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."farmer_approval_history" TO "anon";
GRANT ALL ON TABLE "public"."farmer_approval_history" TO "authenticated";
GRANT ALL ON TABLE "public"."farmer_approval_history" TO "service_role";



GRANT ALL ON TABLE "public"."farmer_notifications" TO "anon";
GRANT ALL ON TABLE "public"."farmer_notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."farmer_notifications" TO "service_role";



GRANT ALL ON TABLE "public"."farmers" TO "anon";
GRANT ALL ON TABLE "public"."farmers" TO "authenticated";
GRANT ALL ON TABLE "public"."farmers" TO "service_role";



GRANT ALL ON TABLE "public"."file_uploads" TO "anon";
GRANT ALL ON TABLE "public"."file_uploads" TO "authenticated";
GRANT ALL ON TABLE "public"."file_uploads" TO "service_role";



GRANT ALL ON SEQUENCE "public"."file_uploads_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."file_uploads_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."file_uploads_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."kyc_documents" TO "anon";
GRANT ALL ON TABLE "public"."kyc_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."kyc_documents" TO "service_role";



GRANT ALL ON TABLE "public"."milk_quality_parameters" TO "anon";
GRANT ALL ON TABLE "public"."milk_quality_parameters" TO "authenticated";
GRANT ALL ON TABLE "public"."milk_quality_parameters" TO "service_role";



GRANT ALL ON SEQUENCE "public"."milk_quality_parameters_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."milk_quality_parameters_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."milk_quality_parameters_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."milk_rates" TO "anon";
GRANT ALL ON TABLE "public"."milk_rates" TO "authenticated";
GRANT ALL ON TABLE "public"."milk_rates" TO "service_role";



GRANT ALL ON SEQUENCE "public"."milk_rates_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."milk_rates_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."milk_rates_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."payment_batches" TO "anon";
GRANT ALL ON TABLE "public"."payment_batches" TO "authenticated";
GRANT ALL ON TABLE "public"."payment_batches" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."pending_farmers" TO "anon";
GRANT ALL ON TABLE "public"."pending_farmers" TO "authenticated";
GRANT ALL ON TABLE "public"."pending_farmers" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."role_permissions" TO "anon";
GRANT ALL ON TABLE "public"."role_permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."role_permissions" TO "service_role";



GRANT ALL ON SEQUENCE "public"."role_permissions_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."role_permissions_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."role_permissions_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."staff" TO "anon";
GRANT ALL ON TABLE "public"."staff" TO "authenticated";
GRANT ALL ON TABLE "public"."staff" TO "service_role";



GRANT ALL ON TABLE "public"."staff_routes" TO "anon";
GRANT ALL ON TABLE "public"."staff_routes" TO "authenticated";
GRANT ALL ON TABLE "public"."staff_routes" TO "service_role";



GRANT ALL ON TABLE "public"."system_settings" TO "anon";
GRANT ALL ON TABLE "public"."system_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."system_settings" TO "service_role";



GRANT ALL ON TABLE "public"."user_roles" TO "anon";
GRANT ALL ON TABLE "public"."user_roles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_roles" TO "service_role";



GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."user_roles_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."user_sessions" TO "anon";
GRANT ALL ON TABLE "public"."user_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."user_sessions" TO "service_role";



GRANT ALL ON SEQUENCE "public"."user_sessions_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."user_sessions_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."user_sessions_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."warehouse_collections" TO "anon";
GRANT ALL ON TABLE "public"."warehouse_collections" TO "authenticated";
GRANT ALL ON TABLE "public"."warehouse_collections" TO "service_role";



GRANT ALL ON SEQUENCE "public"."warehouse_collections_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."warehouse_collections_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."warehouse_collections_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."warehouses" TO "anon";
GRANT ALL ON TABLE "public"."warehouses" TO "authenticated";
GRANT ALL ON TABLE "public"."warehouses" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







RESET ALL;
